* {
  border-radius: 11px;
  font-family: Noto Serif Bold;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  /* background: transparent; */
  color: white;
}

#window {
  font-family: "Noto Serif Bold";
  padding-left: 20px;
  font-weight: bold;
}



#clock,
#tray
#custom-media


#clock {
  font-weight: bold;
  padding-left: 10px;
}

#tray{
  padding-right: 10px;
}


#custom-media{
  font-weight: bold;
  padding-right: 20px;

}



